body {
    background-color: blanchedalmond;
    font: 38px;
    margin: 10px;
    padding: 20px

    
}

header {
    background-color: #ff007f;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px;
    
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

nav {
    text-align: center;
}

footer {
    background-color: #ff007f;
    text-align: center;
    padding: 14px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-style: italic;
}

 
main {
    min-height: 1200px;
    text-align: center;
    background-color: white; 
    max-width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    
}

h1 {
    font-size: 1.8rem; 
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold;   
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    
   

}



nav {
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

   
}
 
nav a {
    color: #ff007f;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;

}
 
nav a:hover {
    background-color: #ddd;
    color: #8976;
}

form{
    background-color: blanchedalmond;
    min-height: 10px;
    Padding: 60px;
    margin: 40px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

form input, 
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1em;

}

form input [type="submit"] {
    background-color: hsl(240, 100%, 15%);
    color: #ff007f;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.post {
    background-color: #ff007f;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.post h1 {
    color: #00004d;
}

.about h1 {
    color: blue;
}
 



